In [ ]:
import pandas as pd
import numpy as np

In [ ]:
taxi_owner = pd.read_pickle('taxi_owners.p')
taxi_owner.head()

In [ ]:
taxi_owner.shape

In [ ]:
taxi_owner.values

In [ ]:
taxi_owner.columns

In [ ]:
taxi_owner.index

In [ ]:
homelessness = pd.read_csv('homelessness.csv', index_col=0)
homelessness.head()

In [ ]:
homelessness.sort_values('individuals', ascending=True)

In [ ]:
homelessness.sort_values(['state', 'individuals'], ascending=[True, True])

In [ ]:
is_Pacific = homelessness['region'] == 'Pacific'
homelessness[is_Pacific]

In [ ]:
is_Wisconsin_or_Wyoming = homelessness['state'].isin(['Wisconsin', 'Wyoming'])
homelessness[is_Wisconsin_or_Wyoming]

In [ ]:
homelessness_ind = homelessness.sort_values('individuals', ascending=True)
homelessness_ind.head()

In [ ]:
homelessness_fam = homelessness.sort_values('family_members', ascending=False)
homelessness_fam.head()

In [ ]:
homelessness_reg_fam = homelessness.sort_values(['region', 'family_members'], ascending=[True, False])
homelessness_reg_fam.head()

In [ ]:
state_fam = homelessness[['state', 'family_members']]
state_fam.head()

In [27]:
ind_gt_10k = homelessness[homelessness['individuals'] > 10000]
display(ind_gt_10k.head())
print('\nSorted Version')
ind_gt_10k = homelessness[homelessness['individuals'] > 10000].sort_values('individuals', ascending=True)

display(ind_gt_10k.head())

                region       state  individuals  family_members  state_pop
4              Pacific  California     109008.0         20964.0   39461588
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351
37             Pacific      Oregon      11139.0          3337.0    4181886
43  West South Central       Texas      19199.0          6111.0   28628666

Sorted Version

                region       state  individuals  family_members  state_pop
37             Pacific      Oregon      11139.0          3337.0    4181886
47             Pacific  Washington      16424.0          5880.0    7523869
43  West South Central       Texas      19199.0          6111.0   28628666
9       South Atlantic     Florida      21443.0          9587.0   21244317
32        Mid-Atlantic    New York      39827.0         52070.0   19530351